body {
    margin: 0;
    margin-top: 100px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color: gray;
}

.header {
    text-align: center;
    font-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 188, 81);
    padding: 80px;
    display: grid;
}

.body {

    text-align: center;
    font-size: 100px;
    background-color: pink;
    padding: 40px;
    display: grid;

}